#pdfviewer {
    height: 100%;
    margin: 0 auto;
  }
  #pdfviewer .viewer-layout-toolbar {
    background: #000;
    color: #fff;
    border-radius: 1rem 1rem 0 0;
  }
  
  #pdfviewer .viewer-icon{
    stroke: #fff;
    stroke-width: 3px;
  }
  
  #pdfviewer .viewer-zoom-popover-target-arrow {
    border-radius: 1rem;
  }
  
  #pdfviewer .viewer-menu-item-label, #pdfviewer .viewer-search-popover-label, #pdfviewer .viewer-menu, #pdfviewer .viewer-menu .viewer-icon{
    color: rgb(3, 169, 244);
    stroke: rgb(3, 169, 244);
  }

  .viewer-layout-container {
      border: none
  }

  .viewer-toolbar-item {
    color: rgb(3, 169, 244);
  }

  #pdfviewer .viewer-icon {
    stroke: rgb(3, 169, 244);
  }

  #pdfviewer .viewer-layout-toolbar {
      background: #ffff;
  }

@media (max-width:1000px) {
  
  .viewer-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: 4rem;
  }

  .viewer-layout-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4.3rem calc(100% - 4.3rem);
    height: 100%;
    position: relative;
    width: 100%;
  }
}

@media (max-width:400px) {
  
  .viewer-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: 7rem;
  }

  .viewer-layout-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7rem calc(100% - 7rem);
    height: 100%;
    position: relative;
    width: 100%;
  }
}
