body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  url('./assets/pano.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

@font-face {
  font-family: 'BioRhyme';
  src: local('BioRhyme'), url(./fonts/BioRhyme-Regular.ttf) format('truetype');
}


